.manage-container{
    .title{
        padding: 40px;
        font-size: 40px;
    }
    .table-cart-container{
            align-items: center;
            display: flex;
            flex-direction: column;
    }
    .btn-checkout{
        display: flex;
        justify-content: flex-end; // ở cuối div
        margin-right: 80px;
        padding-bottom: 20px;
        button{
            height: 50px;
        }

    }
}