.manage-container{
    padding: 10px;
   .content{
        .btn-add-new{
            margin: 15px 0px;
        }
    }
    .title{
        font-weight: 600;
        font-size: 20px;
    }  
}
.modal-add-receipt{
        
        th{
            max-width: 120px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }