.container-chat-box{
    display: flex;
    position: fixed;
    bottom: 24px;
    right: 70px;
    padding-bottom: 20px;
    
    .icon-message{
        width: 50px;
        height: 50px;
        position: fixed;
        bottom: 20px;
        right: 10px;
        cursor: pointer;
    }

    .chat-popup{
        width: 300px;
        height: 400px;
        border: 1px solid #000000;
        border-radius: 10px;
        background: #fff;
        display: flex;
        flex-direction: column;

        .message-list{
            flex: 1;
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            overflow-y: auto;
            word-wrap: break-word;
            
        }

        .message {
            border: 1px solid #ccc;
            max-width: 150px;
            padding: 10px;
            border-radius: 20px;

            &.user{
                background-color: #85bcc3;
                align-self: flex-end;
            }

            &.bot{
                background-color: #e4eacc;
                align-self: flex-start;
            }

        }

        .message-input{
            display: flex;
            input {
                flex: 1;
                border-radius: 10px;
            }
            button{
                height: 40px;
                background: #3c3c3c;
                
            }
        }
    }
    
}