.manage-container{
    .title{
        font-size: 40px;
    }
    .review-order-content{
        display: flex;
        gap: 2rem;
        padding: 2rem;

        .infor-user{

            .title-user{
                font-size: 20px;
            }
        }
    }
}