.order-manage-container{

    .btn-canceled-order{
        margin-bottom: 20px;
        margin-left: 20px;
    }
}

.table-canceled-order-container{
    .btn-to-order button{
        margin-bottom: 20px;
        margin-left: 20px;
    }
    .table-canceled-order{
        margin-left: 10px;
    }
}