.dashboard-container{
    .title p{
        font-size: 25px;
        margin-left: 20px;
        font-weight: bold;
        font-style: italic;
    }
    .over-view-box-container{
        
    }
}